<!DOCTYPE html>
<html>
<head>
    <title>推送管理</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<form action="/" method="post">
    <input type="text" width="200">
    <input type="submit" width="100" value="send">
    <% if(status == '1'){ %>
    推送成功
    <% } %>
</form>

</body>
</html>