<!DOCTYPE html>
<html>
<head>
    <title>推送管理</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/javascripts/jquery-1.10.2.js"></script>
    <script src="/socket.io/socket.io.js"></script>

</head>
<body>

<input type="text" width="200" id="msg" placeholder="文字">
<br/>
<input type="text" width="500" id="imgurl" placeholder="图片">
<input type="text" width="500" id="imglink" placeholder="链接">


<h4>在线人数：</h4>
<ul>
    <li>汽车<span id="qc">0</span><span class="sendOneMsg" title="qc">发送文字</span><span class="sendOneImg"
                                                                                    title="qc">发送图片</span></li>
    <li>团购<span id="tg">0</span><span class="sendOneMsg" title="tg">发送文字</span><span class="sendOneImg"
                                                                                    title="tg">发送图片</span></li>
    <li>建材<span id="jc">0</span><span class="sendOneMsg" title="jc">发送文字</span><span class="sendOneImg"
                                                                                    title="jc">发送图片</span></li>
    <li>论坛<span id="bbs">0</span><span class="sendOneMsg" title="bbs">发送文字</span><span class="sendOneImg" title="bbs">发送图片</span>
    </li>
    <li>主站<span id="zz">0</span><span class="sendOneMsg" title="zz">发送文字</span><span class="sendOneImg"
                                                                                    title="zz">发送图片</span></li>
    <li>黄页<span id="hy">0</span><span class="sendOneMsg" title="hy">发送文字</span><span class="sendOneImg"
                                                                                    title="hy">发送图片</span></li>
    <li>房产<span id="fc">0</span><span class="sendOneMsg" title="fc">发送文字</span><span class="sendOneImg"
                                                                                    title="fc">发送图片</span></li>
    <li>总数<span id="total">0</span><span id="sendAllMsg">发送所有频道(文字)</span><span id="sendAllImg">发送所有频道(图片)</span></li>
</ul>
<script>
    var socket = io.connect('http://sendmsg.0372.cn');
    var qc = $('#qc');
    var tg = $('#tg');
    var jc = $('#jc');
    var bbs = $('#bbs');
    var zz = $('#zz');
    var hy = $('#hy');
    var fc = $('#fc');
    var total = $('#total');
    var message = $('#msg');
    var imgurl = $('#imgurl');
    var imglink = $('#imglink');

    socket.emit('room', 'manager');
    socket.on('peopleNum', function (data) {
        total.text(data.msg.total);
        qc.text(data.msg.obj.qc) ;
        tg.text(data.msg.obj.tg);
        jc.text(data.msg.obj.jc);
        hy.text(data.msg.obj.hy);
        bbs.text( data.msg.obj.bbs);
        zz.text(data.msg.obj.zz);
        fc.text(data.msg.obj.fc);
    });
    $('#sendAllMsg').on('click', function () {
        socket.emit('manager_info', { msg: message.val() });
        console.log('ok')
    });
    $('#sendAllImg').on('click', function () {
        socket.emit('manager_img', { msg: {url: imgurl.val(), link: imglink.val()}});
        console.log('ok')
    });
    $('.sendOneMsg').on('click', function () {
        socket.emit('manager_info', { msg: message.val(), room: $(this).attr('title') });
        console.log('ok')
    });
    $('.sendOneImg').on('click', function () {
        socket.emit('manager_img', { msg: {url: imgurl.val(), link: imglink.val()}, room: $(this).attr('title')});
        console.log('ok')
    });

</script>
</body>
</html>