<!DOCTYPE html>
<html>
<head>
    <title>推送管理</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/socket.io/socket.io.js"></script>

</head>
<body>

<input type="text" width="200" id="msg" placeholder="文字">
<a href="javascript:;" id="send">发送文字</a>
<br/>
<input type="text" width="500" id="imgurl" placeholder="图片">
<input type="text" width="500" id="imglink" placeholder="链接">
<a href="javascript:;" id="sendurl">发送图片</a>
<br/>

<h5>在线人数：</h5>
<ul>
    <li>汽车<span id="qc"></span></li>
    <li>团购<span id="tg"></span></li>
    <li>建材<span id="jc"></span></li>
    <li>论坛<span id="bbs"></span></li>
    <li>主站<span id="zz"></span></li>
    <li>黄页<span id="hy"></span></li>
    <li>总数<span id="total"></span></li>
</ul>
<script>
    var socket = io.connect('http://sendmsg.0372.cn');
    var qc = document.getElementById('qc');
    var tg = document.getElementById('tg');
    var jc = document.getElementById('jc');
    var bbs = document.getElementById('bbs');
    var zz = document.getElementById('zz');
    var hy = document.getElementById('hy');
    var total = document.getElementById('total');


    var send = document.getElementById('send');
    var sendurl = document.getElementById('sendurl');
    var message = document.getElementById('msg');
    var imgurl = document.getElementById('imgurl');
    var imglink = document.getElementById('imglink');

    socket.on('peopleNum', function (data) {
        total.innerText = data.msg.total;
        qc.innerText = data.msg.qc;
        tg.innerText = data.msg.tg;
        jc.innerText = data.msg.jc;
        hy.innerText = data.msg.hy;
        bbs.innerText = data.msg.bbs;
        zz.innerText = data.msg.zz;
    });
    send.addEventListener('click', function () {
        socket.emit('manager_info', { msg: message.value });
        console.log('ok')
    });
    sendurl.addEventListener('click', function () {
        socket.emit('manager_img', { msg: {url: imgurl.value, link: imglink.value}});
        console.log('ok')
    });
</script>
</body>
</html>