<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<input type="text" placeholder="username"/>
<input type="password" placeholder="passworld"/>
<button type="submit" value="login"></button>
</body>
</html>